<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/main.css">
    <title>Login</title>
</head>
<body class="tables">
    <div class="main">
        <div class="main1">
            <h1>ITEM</h1>
            <hr/>
            <img src="/static/css/food2.jpg">
            <hr/>
            <img src="/static/css/food2.jpg">
            <hr/>
            <img src="/static/css/food2.jpg">
        </div>
        <div class="main1">
            <h1>NAME</h1>
            <hr/>
            item 2
            20 qr
            free delivery
            <hr/>
            item 2
            20 qr
            free delivery
            <hr/>
            item 2
            20 qr
            free delivery
        </div>
        <div class="main1">
            <h1>PRICE</h1>
            <hr/>
            item 2
            20 qr
            free delivery
            <hr/>
            item 2
            20 qr
            free delivery
            <hr/>
            item 2
            20 qr
            free delivery
        </div>
    </div>
    <script src="/static/java.js"></script>
    
</body>
</html>